.top{
    text-align: center;
    color: #1E1E1E;
    font-family: 'Crimson Pro';
    font-weight: 900px;
    font-style: normal; 
    font-size: 16px;

}
.body{
    text-align: center;
    color: #1E1E1E;
    font-family: 'Crimson Pro';
    font-style: normal; 
    font-size: 16px;

}
.Pwrap{
    display: flex;
    justify-content: space-between;
}
.pc{
    width: 15rem;
    margin-left: 5%;
    
    margin-right: 5%;
    background-color: rgba(255, 69, 0, 0.05);
border-radius: 10px;
}

@media screen and (max-width:850px)  {
    .Pwrap{
        flex-direction: column;
        align-items: center;}
    }