.footerContainer {
  margin-top: 20px;
  background: rgba(255, 69, 0, 0.2);
  
}
.fwrap {
  display: flex;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.footerContent {
  min-width: 11%;
  height: 53px;
  margin-left: 0px;
  

  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 53px;
  margin-left: 20%;
  color: #1e1e1e;
}
.own {
  min-width:11%;
  height: 53px;
  
  border: 2px solid #ff4500; ;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 53px;

  color: #1e1e1e;
}
.owner {
  box-sizing: border-box;

  width: 183px;
  height: 56px;
  justify-content: center;

  border: 2px solid #ff4500;
}
.register{
  width: 226px;
  height: 27px;

  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  margin-left: 40%;
  color: #000000;
}

.sign {
  width: 76px;
  height: 25px;

  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 25px;

  color: #ffffff;
}
.fa{
  margin-right: 5px;

}
@media only screen and (max-width: 700px) {
   .footerContent{
    margin: 0px;
width: 20%}
  .own{
width: 18%;
  } 

}