.blogContainer {
  background: #ffffff;
}
.peoplePic {
  width: 100%;
  height: 100%;
}
.containerC {
  width: 100%;
  

  background: rgba(255, 69, 0, 0.2);
}
.blogHead {
  width: 307px;
  height: 53px;
  justify-content: center;
  margin-left: 40%;

  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 600px;
  font-size: 36px;
  line-height: 53px;
  text-align: center;

  color: #1e1e1e;
}
.contentHead {
  width: 500px;
  height: 27px;
  margin-left: 20px;
  margin-top: 20px;

  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  text-transform: capitalize;

  color: #000000;
}
.blogcontent1 {
  width: 90%;
  height: 90%;
  margin-top: 20px;
  margin-left: 20px;

  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;

  color: #1e1e1e;
}
.container2 {
  width: 100%;
  

  background: rgba(255, 69, 0, 0.2);
}
.yet {
  width: 298px;
  height: 27px;
  margin-left: 20px;
  margin-top: 20px;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;

  text-transform: capitalize;

  color: #1e1e1e;
}
.suitPic {
  width: 100%;
  height: 100%;
}
.blogWrap {
  display: flex;
  max-width: 100%;
  margin-bottom: 20px;
}
.blogWrap2 {
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .blogWrap{
    flex-direction: column;
    width: 70%;
  }
  .blogWrap2{
    flex-direction: column;
    width: 70%;
  }
  .blogHead{
    margin-left: 20px;
  }
  .learn-more{
    margin-left: 100px;
    
  }
  @media only screen and (max-width: 900px) {
    .blogHead{
      width:50%;
    }
    .peoplePic{
      min-width: 100%;
      height: 100%;
    }
    .suitPic{
      min-width: 100%;
      height: 100%;
    }
    
  }
  
}
@media only screen and (max-width: 1010px) {
  
  
}